@font-face {
  font-family: modern;
  src: url(/styles/fonts/quicksand/Quicksand-Regular.otf);
}

@font-face {
  font-family: media;
  src: url(/styles/fonts/ExonRegular-0WjEd.otf);
}

@font-face {
  font-family: destaque;
  src: url(/styles/fonts/Back\ to\ school.otf);
}

body {
  font-family: 'media';

}

* {
  margin: 0;
  box-sizing: border-box;
}

/*HEADER*/
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 75px;
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: #242F9B;
}

.headercontent {
  display: flex;
  align-items: center;
}

.logo {
  padding-bottom: 10px;
  display: flex;
  width: 150px;
  padding-left: 30px;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.menus {
  margin-right: 100px;
  display: flex;
}

.menu-item {
  font-family: 'media';
  padding-left: 50px;
  text-decoration: none;
  font-size: 19px;
  color: white;
  transition: all 0.3s ease 0s;
}

.menu-item:hover {
  transform: translateY(-7px);
}

.menu-item:active {
  transform: translateY(-1px);
}

.midia {
  padding-right: 30px;
}

.social {
  height: 20px;
  justify-content: flex-end;
  transition: all 0.3s ease 0s;
  padding-left: 10px;
}

.social:hover {
  transform: translateY(-7px);
}

.social:active {
  transform: translateY(-1px);
}

/*HEADER*/

/*SECTION*/
section {
  background-image: url(/styles/images/backgroundsection.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -0px;
}

.container {
  height: 100vh;
  display: block;
}

.title-box {
  height: min-content;
  padding-top: 250px;
}

.title {
  font-family: 'destaque';
  text-align: center;
  font-weight: 100;
  color: #242F9B;
  font-size: 100px;
}

/*BOX LIST*/
.div-select {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.div-select select {
  outline: unset;
  border-radius: 5px;
  background-color: #242F9B;
  height: 50px;
  font-family: 'modern';
  font-size: 20px;
  padding: 13px 20px 13px 12px;
  color: #fff;
  text-indent: 0.01px;
  text-overflow: "";
}

/*BOX LIST*/

/*SECTION*/

footer {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

footer p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.space {
  text-decoration: none;
  color: #242F9B;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    position: relative;
    margin-left: -22px;
  }

  .container {
    display: block;
  }

  .midia {
    display: none;
  }

  .title {
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 80px;
  }

  .image {
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

  .description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'modern';
    color: #4B8673;
    text-align: center;
  }

  footer {
    font-size: 20px;
  }

}

.nav-list.active {
  transform: translateX(0);
}

@media (max-width: 550px) {
  .title {
    font-size: 60px;
  }

  footer {
    font-size: 16px;
  }

  .menu-item {
    font-size: 15px;
    padding-left: 20px;
  }

}

@media (max-width: 350px) {

  .title {
    margin-top: -100px;
  }

  .div-select select {
    width: 260px;
    font-size: 16px;
  }

  .menu-item {
    font-size: 14px;
    padding-left: 20px;
  }

  footer {
    margin-bottom: 50px;
  }
}