@font-face {
  font-family: modern;
  src: url(/styles/fonts/quicksand/Quicksand-Regular.otf);
}

@font-face {
  font-family: media;
  src: url(/styles/fonts/ExonRegular-0WjEd.otf);
}

@font-face {
  font-family: destaque;
  src: url(/styles/fonts/Back\ to\ school.otf);
}

body {
  font-family: 'media';

}

* {
  margin: 0;
  box-sizing: border-box;
}


/*HEADER*/
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 75px;
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: #2D132C;
}

.menu {
  display: none;
  cursor: pointer;

}

.menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}


.headercontent {
  display: flex;
  align-items: center;
}

.logo {
  padding-bottom: 10px;
  display: flex;
  width: 150px;
  padding-left: 30px;
}

.menus {
  margin-right: 100px;
  display: flex;
}

.menu-item {
  font-family: 'media';
  padding-left: 50px;
  text-decoration: none;
  font-size: 19px;
  color: white;
  transition: all 0.3s ease 0s;
}

.menu-item:hover {
  transform: translateY(-7px);
}

.menu-item:active {
  transform: translateY(-1px);
}

.midia {
  padding-right: 30px;
}

.social {
  height: 20px;
  justify-content: flex-end;
  transition: all 0.3s ease 0s;
  padding-left: 10px;
}

.social:hover {
  transform: translateY(-7px);
}

.social:active {
  transform: translateY(-1px);
}

/*HEADER*/

/*SECTION*/
.container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.left-side {
  display: flex;
  flex: 1;
  padding: 0 20px;
  align-items: center;
}

.right-side {
  flex: 1;
  align-items: right;
}

.image {
  width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.title {
  margin-top: 80px;
  width: fit-content;
  text-align: center;
  font-size: 70px;
  color: #801336;
}

.description {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'modern';
  color: #C72C41;
  text-align: center;
}

/* From uiverse.io */
.button {
  text-align: center;
}

button {
  --color: #EE4540;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #EE4540;
  transition: background 0s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    position: relative;
    margin-left: -22px;
  }

  .container {
    display: block;
  }

  .midia {
    display: none;
  }

  .title {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    color: #801336;
  }

  .image {
    width: 350px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
  }

  .description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'modern';
    color: #C72C41;
    text-align: center;
  }

}

@media (max-width: 550px) {
  .title {
    font-size: 30px;
  }

  .description {
    font-size: 15px;
  }

  .image {
    width: 300px;
  }

  .menu-item {
    font-size: 15px;
    padding-left: 20px;
  }
}

@media (max-width: 350px) {
  .image {
    width: 270px;
  }

  .menu-item {
    font-size: 14px;
    padding-left: 15px;
  }
}